/* Body */
body {
  background-color: #F9F9F9;
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center; /* Add this line */
}



/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #303030;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Links */
a {
  color: #FFD966;
  text-decoration: none;
}

a:hover {
  color: #FFB347;
}

/* Buttons */
button {
  background-color: #FFD966;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

button:hover {
  background-color: #FFB347;
}

/* Forms */
input[type="text"],
input[type="email"],
textarea {
  background-color: #FDFDFD;
  border: none;
  border-radius: 3px;
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

input[type="submit"] {
  background-color: #FFD966;
  border: none;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #FFB347;
}

/* Tables */
table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #FFD966;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
}

/* Alerts */
.alert {
  background-color: #FFB347;
  color: #fff;
  font-weight: 500;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.alert.success {
  background-color: #66BB6A;
}

.alert.error {
  background-color: #EF5350;
}

/* Footer */
footer {
  background-color: #303030;
  color: #fff;
  font-size: 0.8em;
  padding: 1em;
  text-align: center;
}

footer a {
  color: #fff;
}
