/* Body */
body {
  background-color: #F8F1E9;
  color: #333;
  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 2em;
  padding: 0;
  text-align: center;

}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #56362D;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

/* Links */
a {
  color: #AA4C39;
  text-decoration: none;
}

a:hover {
  color: #8A3D2F;
}

/* Menu Items */
.menu-item {
  background-color: #FDF1E9;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #56362D;
  font-weight: 400;
  margin-bottom: 1em;
  padding: 1em;
  text-align: left;
  width: 100%;
}

.menu-item h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.menu-item p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* Menu Sections */
.menu-section {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #D9D2C9;
}

.menu-section h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

/* Footer */
footer {
  background-color: #56362D;
  color: #fff;
  font-size: 0.8em;
  padding: 1em;
  text-align: center;
  margin-top: 2em;
}
